---
import Button from "./Button.astro";
---

<section class="relative">
  <div class="mx-auto max-w-7xl px-6 py-10 md:py-24">
    <div
      class="grid grid-cols-1 mid:grid-cols-2 items-center md:gap-12 lg:grid-cols-2">
      <!-- Left Content -->
      <div class="flex flex-col gap-4 md:mr-28">
        <h1
          class="text-4xl font-bold tracking-tight text-primary sm:text-5xl lg:text-6xl">
          The UK's Larges Directory of Verified, Local Locksmiths
        </h1>
        <p>
          Search 1,200+ verified local professionals for emergencies, repairs,
          and lock upgrades.
        </p>

        <!-- Search Box -->
        <div class="grid md:grid-cols-5 md:flex-row w-full gap-4 mt-5">
          <input
            type="text"
            placeholder="Enter postcode (e.g. SW1A)"
            class="md:col-span-3 rounded-lg border border-base-300 px-4 py-3 text-primary placeholder-base-300 focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary/20"
          />
          <Button
            text="Find Locksmiths"
            variant="secondary"
            size="lg"
            class="md:col-span-2 rounded-lg"
          />
        </div>
      </div>

      <!-- Right Content -->
      <div>
        <div class="mt-12 lg:mt-0 relative">
          <div
            class="aspect-4/3 overflow-hidden bg-slate-100 w-full rounded-2xl shadow-lg">
            <img
              src="https://hoirqrkdgbmvpwutwuwj.supabase.co/storage/v1/object/public/assets/assets/81325119-3d7a-44c3-8a7d-f1eadd6fc60d_1600w.png"
              alt="Professional locksmith at work"
              loading="lazy"
              class="object-center w-full h-full object-cover"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Badges -->
    <div class="grid md:grid-cols-3 mt-12 md:mt-24 gap-10 md:gap-0">
      <div class="flex gap-2 gap-x-2 gap-y-2 items-center justify-center">
        <div
          class="flex shrink-0 items-center justify-center rounded-full text-secondary transition-colors duration-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10" class=""
            ></path>
            <path d="m9 12 2 2 4-4" class=""></path>
          </svg>
        </div>
        <span class="font-semibold text-primary text-sm"
          >1,200+ Verified Pros</span
        >
      </div>
      <div class="flex gap-2 gap-x-2 gap-y-2 items-center justify-center">
        <div
          class="flex shrink-0 items-center justify-center rounded-full text-secondary transition-colors duration-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="text-secondary">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
              class=""></polygon>
          </svg>
        </div>
        <span class="font-semibold text-primary text-sm"
          >4.9/5 Average Rating</span
        >
      </div><div class="flex gap-2 gap-x-2 gap-y-2 items-center justify-center">
        <div
          class="flex shrink-0 items-center justify-center rounded-full text-secondary transition-colors duration-300">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="text-[#a5744d]">
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" class=""
            ></path>
            <polyline points="9 22 9 12 15 12 15 22" class=""></polyline>
          </svg>
        </div>
        <span class="font-semibold text-primary text-sm"
          >Trusted by Homeowners</span
        >
      </div>
    </div>
  </div>
</section>
